:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin-left: 200px;
}
/* solo  para mobiles */
@media only screen and (max-width: 768px) {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    margin-left: auto;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
